<div class="container" style="text-align: center">
  <img id="diver-pic" src="../../../assets/diver.jpg" alt="diver"/>
  <p id="pic-attr"><span>Photo by <a href="https://unsplash.com/@sebaspenalambarri?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Sebastian Pena Lambarri</a> on <a href="https://unsplash.com/s/photos/scuba?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span></p>
  <a [routerLink]="['/register']"><button class="btn btn-danger register-btn" >Register</button></a>
  <a [routerLink]="['/login']"><button class="btn btn-success login-btn" >Check Registration</button></a>
  <a [routerLink]="['/admin']"><button class="btn btn-secondary" >Admin</button></a>
</div>
